*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.log
.navigation/
captures/

lint/intermediates
lint/generated/
lint/outputs/
lint/tmp/

